*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.header{
    margin-top: -20px;
    margin-left: 40px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/Travel/images/story-2.png) ;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 7%  0%  20%;
}



.nav-links li{
     list-style: none;
     display: inline-block;
     margin: 10px 30px;
     text-decoration: none;

}

.nav-links a{
    text-align: none;
    color: aliceblue;
    text-decoration: none;
}

.exclusives{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
}

.exclusives div img{
    width: 100%;
    border-radius: 10px;
}

.exclusives div span{
    text-align: center;
    top: 2%;
    color: #fff;
    transform: translate(-10%,-10%);
}

.subtitle{
    margin-bottom: 30px;
    color: #fff;
}